<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Ürün Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filtertext" placeholder="Arama ifadesi giriniz">
</div>
<div>
  <p *ngIf="filterText!=''" class="alert alert-info"><strong>{{filterText }} </strong> aradınız!" </p>
</div>
<i class="fa-light fa-box-dollar"></i>
<table *ngIf="dataLoaded == true" class="table border-3  ">

  <thead>
    <tr>
      <th>ID</th>
      <th>Product Name</th>
      <th>Category ID</th>
      <th>Unit Price</th>
      <th>With KDV Price</th>
      <th>Stock</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let product of products | filterPipe:filterText">
      <td>{{ product.productID }}</td>
      <td>{{ product.productName |uppercase}}</td>
      <td>{{ product.categoryID }}</td>
      <td>{{ product.unitPrice }}</td>
      <td>{{ product.unitPrice|vatAdded:10 | currency}}</td>
      <td>{{ product.unitsInStock }}</td>
      <td><button (click)="addToCart(product)" class="btn btn-success"> Add to Cart</button></td>
    </tr>
  </tbody>
</table>
<div *ngIf="dataLoaded == false" class="spinner-border text-danger text-center" role="status">
  <span class="visually-hidden">Loading...</span>
</div>